.accordion__item {
  &--active {
    .accordion__content {
      visibility: visible;
    }
  }
}

.accordion__title {
  user-select: none;
  cursor: pointer;
}

.accordion__content {
  transition: all 300ms ease-in-out;
  overflow: hidden;
  visibility: hidden;
}
