<h1>Testing</h1>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="ballPulse">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="ballGridPulse">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="ballScaleMultiple">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="ballScaleRipple">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="ballScaleRippleMultiple">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="circleRotate">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="circleRotatePulse">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="circleRotateMultiple">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="lineScale">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="lineScaleParty">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="lineScalePulseOut">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="lineScalePulseOutRapid">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="denis loader" spinnerName="lineSpinFade">тут будет контент</m-loader>
<m-loader class="m-loader" loadingText="Ball Rotate" spinnerName="ballRotate"></m-loader>
<m-loader class="m-loader" loadingText="Ball Grid Beat" spinnerName="ballGridBeat"></m-loader>

